.main-header.sticky {
    height: 85px;
}

.awardlogo{
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.form-control:focus{
    box-shadow: none;
}

.nolink{
    pointer-events: none;
}

.footer-row3 {
    background: #fff;
    padding: 20px 0;
}

.btn-round-.trngl:after{
    display: none;
}

.hc-offcanvas-nav h2{
    visibility: hidden;
}

.clientslider{
    padding: 40px 0;
}
.ff-social-icons a{
    color: #6a6a8e;
}

.end-footer-{
    margin-top: 60px;
}